//Color
$bg-body: #fff;
$border-search: #EAEAEA;
$bg-input-search: #F1F1F1;
$bg-bar:#D2D2D2;

// text color
$input-search-text: #646464;
$form-search-btn: #ffffff;
$color-text-main: #081531;
$color-text-main-light:#3E434F;
$color-text-second: #969696;

$color-neutral: #4640DE;


//fonts
$font-main: 'San Francisco Pro Display Regular';
$font-nav-link: 'Inter Medium';
$font-main-medium: 'San Francisco Pro Display Medium';
$font-main-bold: 'San Francisco Pro Display Bold';
