@import "vars";

html {
    scroll-behavior: smooth;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $bg-body;
    margin: 0;
    padding: 0;
    font-family: $font-main;
    font-size: 16px;
    color: $color-text-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}



:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;

}
input:focus{
    background: #FFFFFF;
    border: 1px solid #646464;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.btn {
    border-radius: 4px;
    background: $color-neutral;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: $form-search-btn;
    display: flex;
    align-items: center;
    padding: 10px 21px 10px 24px;
    transition: ease-in 0.3s;

    &:hover {
        background: #6C66FF;
    }
}