@import "vars";
@import "fonts";
@import "general";


// BEGIN HEADER
.header {
    padding: 12px 54px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {
    padding-right: 116px;
}

.header__navigation {
    flex-grow: 1;
}

.header__list {
    display: flex;
    height: 22px;

}

.header__list-item+.header__list-item {
    margin-left: 40px;
}

.header__list-item {
    .link {
        font-family: $font-nav-link;
        font-size: 15px;
        line-height: 18px;
        color: $color-text-main;
    }

}

.header__user {
    cursor: pointer;
}

// Header Btn Menu
.header__btn-menu {
    width: 44px;
    height: 11px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
        height: 3px;
        width: 100%;
        background-color: $color-text-second;
    }

    div+div {
        margin-top: 6px;
    }
}

// Block User
.block-user {
    position: absolute;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    top: 85px;
    right: 54px;
    width: 276px;
    background-color: $bg-body;
    display: none;
    z-index: 2;
    transition: ease-in 0.3;
    // animation: howBlock ease-in 0.3s forwards;
    // animation: fadeIn ease-in 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes showBlock {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.user-info {
    padding: 17px 25px 20px 24px;
    font-size: 18px;
    line-height: 21px;
}

.user-info__name {
    font-weight: bold;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 1px;
}

.user-info__email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.user__settings {
    padding: 23px 22px 37px 24px;
    font-size: 15px;
    line-height: 18px;
    font-family: $font-main-medium;
    border: 1px solid $border-search;
}

.user__settings-favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.028em;
}

.poroj-favorite__number {
    color: $color-neutral;
    font-weight: 600;
}

.user__settings-item+.user__settings-item {
    margin-top: 22px;

}

.user__logout-block {
    padding: 15px 14px;
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: $color-neutral;
}


// END HEADER
// BEGIN SECTION PROJECTS
.projects {
    padding: 0 54px 46px;
}

// Project search
.projects__search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
    padding: 9px 0 14px 0;
    border-top: 1px solid $border-search;
    border-bottom: 1px solid $border-search;
    position: relative;
}

.projects__input-search-wrapper {
    position: relative;
    margin-right: 11px;

    .icon-search {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }
}

.projects__search-form {
    display: flex;
}

.projects__input-search {
    background: transparent;
    padding: 10px 24px 8px 12px;
    background-color: $bg-input-search;
    width: 455px;
    font-size: 18px;
    line-height: 21px;
    font-family: $font-main;
    letter-spacing: -0.03em;
    color: $input-search-text;
    transition: ease-in 0.3s;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background: #EAEAEA;
    }

    &:active {
        background: #FFFFFF;
        border: 1px solid #646464;
    }
}

.projects__form-button {

    svg {
        margin-left: 12px;
    }
}

.projects__filters-list {
    display: flex;

}

.projects__filters-item.active {
    color: $color-neutral;
}

.projects__filters-item+.projects__filters-item {
    margin-left: 27px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    font-family: $font-main-medium;
}

// Bock  Categories
.categories-block {
    display: none;
    position: absolute;
    top: 63px;
    background-color: $bg-body;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 23px 25px 32px 26px;
    z-index: 1;
}

.categories-block__title {
    font-family: $font-main-medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.03em;
    margin-bottom: 17px;
}

.categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.categories__item+.categories__item {
    margin-left: 7px;
}

.categories__item {
    font-family: $font-main-medium;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 18px 14px 18px;
    background: $bg-body;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    img {
        margin-right: 6px;
    }

}

.categories__item.active {
    color: $color-neutral;
    border: 1px solid #4640DE;
}

.categories__btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.categories__btn {
    padding: 10px 45px 11px 45px;
}

//End Block  Categories
.projects__wrapper-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

// Select Block Categories
select {
    width: 100%;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0 10px 12px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: $input-search-text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option {
        font-size: 14px;
        line-height: 17px;
        color: #171F2E;
        display: flex;
    }
}

.select-box {
    position: relative;
    display: none;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #60666d;


    @media (min-width: 768px) {
        width: 70%;
    }

    @media (min-width: 992px) {
        width: 50%;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }

    &__current {
        width: 100%;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 10px 0 10px 12px;

        position: relative;
        cursor: pointer;
        outline: none;

        &:focus {
            &+.select-box__list {
                opacity: 1;


                // We have to set "animation-name: none;" to make the list visible (read below how it works)

                animation-name: none;

                .select-box__option {
                    cursor: pointer;
                }
            }

            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        opacity: 0.3;
        transition: 0.2s ease;
    }

    &__value {
        display: flex;
    }

    &__input {
        display: none;

        &:checked+.select-box__input-text {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.03em;
            color: $input-search-text;
            font-family: $font-main;
        }
    }

    &__input-text {
        display: none;
        width: 100%;
        margin: 0;
        // padding: 15px;
        background-color: #fff;
    }

    &__list {
        position: absolute;
        width: 100%;
        padding: 1px 16px 0 5px;

        list-style: none;
        opacity: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
        top: 50px;
        overflow-y: scroll;
        max-height: 295px;

        // We need to use animation with delay.
        // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
        // This delay will not be noticed because we set "opacity" to "0".
        // We also use "animation-fill-mode: forwards" to make the list stay hidden.

        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        border-radius: 3px;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        padding: 7px;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #546c84;
            background-color: #fbfbfb;
        }
    }
}

.select-box__option {
    font-size: 14px;
    line-height: 17px;

    color: #171F2E;
}

.counter-project {
    font-family: $font-main-medium;
    font-size: 14px;
    line-height: 17px;
    color: $color-neutral;
}
.categories__item-counter{
    color: $color-neutral;
    display: none;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.select-box__option {}

//Select Block Categories End
// Project box
.projects__box {
    max-width: 423px;
    max-height: 574px;
    border-radius: 3px;
    box-shadow: 0px 4px 18px #E5E5E5;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in 0.3s;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 39px;
        height: 39px;
        background: url(../img/svg/icon-box-project.svg);
        top: 25px;
        right: 26px;
        opacity: 0;
        transition: ease-in 0.3s;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.11);
    }

    &:hover:after {
        opacity: 1;
    }
}

.projects__box-wrapper {
    padding: 29px 25px 21px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__box-img {
    border-radius: 10px;
    overflow: hidden;
}

.projects__box-title {
    font-family: $font-main-bold;
    font-size: 22px;
    line-height: 26px;
    color: $color-text-main;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.projects__box-text {
    font-size: 18px;
    line-height: 156.7%;
    color: $color-text-main-light;
    margin-bottom: 25px;
    max-height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects__box-company {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.box-company__log {
    margin-right: 3px;
}

.box-company__title {
    line-height: 19px;
    font-size: 16px;
}

.box-company__location {
    font-size: 13px;
    line-height: 16px;
    color: $color-text-second;
}

.projects__box-bar {
    position: relative;
    background: $bg-bar;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.project__box-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 86%;
    background: $color-neutral;
    border-radius: 10px;
    transition: ease-in 1s;
}

.projects__box-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box-info__box-title {
    font-size: 14px;
    line-height: 137.7%;
    color: $color-text-second;
}

.box-info__box-price {
    font-size: 26px;
    line-height: 137.7%;
    font-family: $font-main-bold;
}

.box-info__box {
    width: 30%;
}

.funded {
    .box-info__box-price {
        display: flex;
        justify-content: start;
    }
}

.bar-min {
    width: 8%;
}

.showBlock {
    display: block;
    animation: fadeIn ease-in 0.3s forwards;
}

@keyframes showBlock {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.activeInput {
    background: #FFFFFF;
    border: 1px solid #646464;
}

// END SECTION PROJECTS

@import "media";